@import '@/assets/styles/mixins.scss';

.dropdown {
  padding-right: 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  color: $gray-5;
  @include transition-slow;

  &::after {
    color: $gray-5;
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    @include transition-slow;
  }

  &:hover {
    color: $white;

    &::after,
    .icon {
      @include transition-slow;
      color: $white;
    }
  }
}
